body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
}

.products-list-wrapper {
    max-width: 600px;
    width: 100%;
}

.form-files {
    width: 600px;
    margin: 64px 16px;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 64px;
}

.form-files label {
    font-size: 1.3rem;
    margin: 0px 0px 16px;
    display: block;
}

input {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px gray solid;
    padding: 16px;
    margin: 8px;
}

input[type="submit"] {
    width: 100%; 
    background-color: floralwhite;
    cursor: pointer;
}

input::placeholder {

    font-weight: 200;
}

a.button {
    background: white;
    margin-top: 32px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 12px;
}

table.products-list {
    width: 100%;
    text-align: left;
    
}

.products-list-wrapper {
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 16px;
}

img.product-image {
    max-width: 70px;
}

#products {
    width: 100%;
    justify-content: center;
    display: flex;
}

#messages {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 16px;
    width: 600px;
}

.chat-msg {
    display: table;
    background: #ffffff8f;
    padding: 4px 10px 4px 6px;
    border-radius: 7px;
    margin: 8px 0;
}

.chat-msg__email {
    color: blue;
}

.chat-msg_date {
    color: rgb(121, 82, 13);
}

.chat-msg__text {
    color: green;
}

.messages-title {
    margin: 64px 0 16px;
    color: white;
}

.messages-form {
    margin: 32px;
}

.user {
    width: 100%;
    max-width: 627px;
    margin: 26px 0;
}