<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Coderhouse Backend - Auth</title>
    </head>
    <body>
        <div class="container">
            <h3><%= error %></h3>
            <a href="/<%=url%>">Volver</a>     
        </div>
    </body>
</html>