<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Coderhouse Backend - Auth</title>
    </head>
    <body>
        <div class="container">
            <h3>Registro exitoso</h3>
            <a href="/login">Login</a>
        </div>
    </body>
</html>